.sec {
  margin-left: 230px;
}
.sec-title {
  margin: 20px 10px 20vh 10px;
}
.section-title-op {
  font-size: 4.5rem;
  font-weight: 800;
  opacity: 0.1;
}
.section-title {
  font-size: 3rem;
  margin: 0 0 0 14px;
  position: relative;
  margin-top: -75px;
}

.about-me-container {
  display: flex;
}

.img-sec img {
  max-width: 80%;
  background: rgb(239, 239, 240);
  border-radius: 45%;
  height: auto;
}
.gaper-img {
  height: 30px;
}

.box-info {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding: 50px;
  max-width: 75%;
  background-color: #9e9e9e3b;
  border-radius: 21px;
  height: fit-content;
}

.download-button {
  display: inline-block;
  width: 100%;
  height: 50px;
  max-width: 160px;
  line-height: 50px;
  position: relative;
  animation: fadeInAnimation 1s 2s backwards;
  white-space: nowrap;
}

.download-button div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0 35px 0 35px;
}

.download-button span.bg {
  width: 0%;
  height: 100%;
  position: absolute;
  left: -5%;
  top: 0;
  transform: skewX(-10deg);
  transition: all 0.5s linear;
}

.download-button:hover span.bg {
  background: var(--color-btn);
  width: 110%;
  border-radius: 0 20px 0 20px;
}

.download-button span.base {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 15px 0 15px;
  border: 1px solid var(--color-text);
}

.download-button span.text {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  color: var(--color-text);
}

.info {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.info p {
  font-weight: 400;
}
.skill-item {
  padding-bottom: 10px;
}
.text-infos {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 10px;
}
.progress-bar {
  float: left;
  width: 100%;
  height: 12px;
  background-color: #f1f1f1;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #9985fb;
}
.progress-first {
  width: 0%;
  height: 100%;
  background-color: var(--color-3);
  border-radius: 30px;
  animation: progress-first 3s linear forwards;
  box-shadow: 0 10px 40px -10px #fff;
}
@keyframes progress-first {
  100% {
    width: 85%;
  }
}
.progress-sec {
  width: 0%;
  height: 100%;
  background-color: var(--color-3);
  border-radius: 30px;
  animation: progress-sec 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  transition: 0.4s linear;
  transition-property: width;
}
@keyframes progress-sec {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
.progress-third {
  background-color: var(--color-3);
  height: 100%;
  border-radius: 30px;
  animation: progress-third 3s linear forwards;
  box-shadow: 0 10px 40px -10px #fff;
}
@keyframes progress-third {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
.progress-Fourth {
  background-color: var(--color-3);
  height: 100%;
  border-radius: 30px;
  animation: progress-Fourth 3s linear forwards;
  box-shadow: 0 10px 40px -10px #fff;
}
@keyframes progress-Fourth {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

.gaper-skill {
  height: 50px;
}
.skills-about {
  margin-bottom: 20%;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9e9e9e1c;
  border-radius: 21px;
  margin: 1px auto;
  padding-top: 15px;
}
.circle-info {
  font-size: 1.2rem;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  .sec {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    margin: auto 5px;
  }
}
@media screen and (max-width: 777px) {
  .about-me-container {
    flex-direction: column;
    align-items: center;
  }
  .box-img {
    justify-content: center;
    display: flex;
    width: 40%;
  }
  .img-sec {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .info p {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .circle-info-s {
    display: flex;
    align-items: flex-end;
    margin-block-end: 0rem;
  }
  .box-info {
    padding: 20px 10px;
  }
  .details {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    margin: 10px;
  }
}
