.sec {
  margin-left: 230px;
}
.section-works{
  margin: 30px 0px;
}

.works-list {
  list-style: none;
  margin: 0;
}
.works-item {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
width: 100%;
}

.works-content {
  position: absolute;
  float: left;
  background-color: rgba(48, 48, 48, 0.747);
  align-items: center;
  clear: both;
  border-radius: 0px 20px 20px 0px;
}
.works-details {
  float: left;
  padding: 130px
}

.works-category a {
  margin-bottom: 4px;
  display: inline-block;
  text-decoration: none;
  color: var(--color-2);
  font-size: 1.2rem;
  font-weight: 400;
}
.works-title span {
  margin-bottom: 24px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 400;
}
.works-view-project a {
  display: inline-block;
  text-decoration: none;
  color: var(--bs-red);
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .sec {
    margin-left: 0px;
  }
}
@media screen and (max-width: 780px) {
  .works-details a {
    font-size: 0.8rem;
  }
  .works-details span {
    font-size: 1rem;
  }
}
