.sec {
  margin-left: 230px;
}

.section-title-op {
  font-size: 4.5rem;
  font-weight: 800;
  opacity: 0.1;
}

.section-title {
  font-size: 3rem;
  margin: 0 0 0 14px;
  margin-top: -75px;
}

.contact-info img {
  position: absolute;
}
.form-group {
  margin: 10px 5px;
  border-radius: 20px;
}
.form-control-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 12px;
}
.form-control-textarea {
    border: none;
  padding: 15px 15px;
  width: 100%;
  height: 20vh;
  border-radius: 20px;
}
.btn-contact {
  color: #fff;
  background: var(--color-btn);
  position: relative;
  transform: perspective(1px) translateZ(0);
  border: none;
  margin-left: 18px;
  border-radius: 12px;
  padding: 10px;
  width: 20vw;
}
.section-contact{
  margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
  .sec {
    margin-left: 0px;
  }
}
